{
  "parser": "babel-eslint",
  "plugins": [
    "html",
    "flowtype-errors"
  ],
  "extends": [
    "vue",
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "semi": "off",
    "no-console": "warn",
    "flowtype/require-variable-type": [
      2,
      {
        "excludeVariableMatch": "^_"
      }
    ],
    "flowtype-errors/show-errors": 2,
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
