<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>vue prerendering</title>
    <link rel="stylesheet" href="/assets/styles/styles.css" />
    <!-- nojs test -->
  </head>
  <body>
    <div style="display: none;">
      <% if (htmlWebpackPlugin.files.sprites) { %>
        <% for (var spriteFileName in htmlWebpackPlugin.files.sprites) { %>
          <%= htmlWebpackPlugin.files.sprites[spriteFileName] %>
        <% } %>
      <% } %>
    </div>
    <div id="app"></div>

    <script src="/assets/js/bundle.js"></script>

    <!-- main js -->
  </body>
</html>
